<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMOAI Official Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <main>
        <div class="container py-5">
            <div class="text-center">
                <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/yellow-emoji-face-reaction-illustration-free-png.webp') }}" alt="Azure Logo" width="192" height="192"/>
                <h1 class="display-6 fw-bold text-primary">Welcome to EMOAI</h1>
            </div>

            <div class="row mt-5">
                <div class="col-md-6 mx-auto text-center">
                    <h2>Text-to-Speech</h2>
                    <form action="{{url_for('synthesize_route')}}" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="text-addon">Text</span>
                            <input type="text" class="form-control" id="text" name="text" aria-describedby="text-addon">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6 mx-auto text-center">
                    <form method="post" action="{{url_for('hello')}}">
                        <label for="name" class="form-label fw-bold fs-5">Could you please tell me your name?</label>
                        <div class="input-group mb-3 justify-content-center">
                            <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Say Hello</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
